/* ── Light theme ── */
:root, [data-theme="light"] {
  --bg:           white;
  --text:          white;
  --muted:        #9e7d62;
  --accent:       rgb(197, 108, 145);
  --card-bg:      #ffffff;
  --card-border:  #e0cdb8;
  --navbar-bg:    rgba(53, 7, 75, 0.85);
  --navbar-border: black;
    
}

/* ── Dark theme ── */
[data-theme="dark"] {
  --bg:           black;
  --text:         #f0e6d8;
  --muted:        #a08060;
  --accent:      rgb(197, 108, 145);
  --card-bg:      #2c1a0e;
  --card-border:  #3d2b1a;
  --navbar-bg:    rgba(34, 3, 32, 0.87);
  --navbar-border: rgb(85, 5, 52);
   
}

/* Apply theme to the page */
body {
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
  margin: 0;
}

.page-content {
  padding-top: 64px; /* offset for fixed navbar */
}